@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    font-family: quattrocento sans;
    
}

body {
    position: relative;
    overflow-x: hidden;
}

header {
    max-width: 100%;
    width: 100vw;
    display: flex;
    z-index: 1;
    position: fixed;
    justify-content: end;
    overflow: visible;
    background-color: transparent;
    font-family: josefin sans;
             
}

.nav2 {
    display: none;
}

header::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f355006a;
    z-index: -1;
    transition: background-color 0.5s ease 0.3s,
                height 0.3s ease;
}

header.top::before {
    height: calc(100% + min(80%, 60px));
    background-color: transparent;
}

header.fade::before {
    background-color: transparent;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;

}

.logo img {
    height: 100px
}

.logo img.top {
    height: calc(100px + 43px)
}


nav {
    display: flex;
    gap: 25px;
    font-size: 12px;
    padding-right: 50px;
    justify-content: end;
    flex-wrap: wrap;
    max-width: 75%;
}

nav a {
    text-decoration: none;
    padding: 30px 0px;
    color: rgba(255, 255, 255, 0.89);
    font-weight: 700;
}


/* Header End
------------------------------------------------------*/

.side {
    padding: 20px 0px;
    width: 43px;
    background-color: #F04B00;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 40%;
    gap: 24px;
    z-index: 1000;
}

.side a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.side img {
    width: 60%
}

.bg1 {
    background-image: url(images/background.png);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.splitter {
    background-color: #E31156;
    display: flex;
    justify-content: center;
    padding: 15px

}

.splitterB {
    font-family: arvo;
    font-size: 34px;
    color: #DCDAD7;
    background-color: #E31156;
    border: 1px solid #DCDAD7;
    border-radius: 10px;
    padding: 15px 30px;

}

.splitterB:hover {
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

/* Splitter end
------------------------------------------------------*/

.container1 {
    display: flex;
    justify-content: center;
    
    width: 100%;
    max-width: 925px;
    align-self: center;
    margin: 100px;
    gap: 40px;
    flex-wrap: nowrap;
    max-width: 80%;
}

.left1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex: 1 1 575px;
    min-width: 400px; 
    max-width: 575px;
    line-height: 40px;

}

.left1 p {
    font-size: 23px;
    font-family: roboto condensed;
    color: #898278;
}

.left1 .heading {
    font-size: 28px;
    font-family: arvo;
    color: #682F90;
}

.right1 {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 375px;
    max-width: 375px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    

}

.container2 {
    width: 100%
}

.right1 img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
}

/*------------------------------------*/

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container2 .images2 {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px

}

.images2 img {
    width: 50%
}

.text2 {
    padding: 35px 0;
    font-size: 23px;
    font-family: arvo;
    color: #682F90;
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    
    max-width: min(925px, 75%);
}

.red {
    color: #E31156;
    font-family: arvo;
    font-weight: 700;
    font-size: 22px;
}

.images2-1 {
    display: flex;
    width: 100%
}

.images2-1 img {
    flex: 1;
    width: 100%;
    object-fit: cover;
}

.text2-1 {
    color: #898278;
    font-size: 23px;
    font-family: roboto condensed;
    max-width: min(925px, 75%);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 50px 0px;
    line-height: 36px;
}

/*---------------------------------------------*/

.wideImg {
    width: 100%;
    background-image: url(images/wideImg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 775px;
}

.text3 {
    color: #898278;
    font-size: 23px;
    font-family: "roboto condensed";
    max-width: min(925px, 75%);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 50px 0px;
    line-height: 36px;
}

.container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listDiv {
    max-width: 925px;
    display: flex;
}



.listDiv div {
    background-color: #956EB3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px 25px 20px;
    font-family: "roboto";
    color: #DCDAD7;
    font-size: 22px;
    gap: 10px;
}

.listHeading {
    font-size: 20px;
    color: #682F90;
    font-family: arvo;
    text-align: center;
}

.listDiv ul {
    padding: 15px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    margin-left: 25px;
}

.listDiv ul li {
    position: relative;
    padding-left: 30px;
}

.listDiv ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 16px;
    height: 16px;
    background-image: url(images/right-arrow\(1\).png);
    background-size: contain;
    background-repeat: no-repeat;
    
}

.listDiv a {
    font-size: 18px;
    align-self: flex-start;
    padding-left: 45px;
    margin-left: 25px;
    color: #dcdad7;
    font-weight: 700;
}

.text3-1 {
    color: #898278;
    font-size: 23px;
    font-family: roboto condensed;
    max-width: min(925px, 75%);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 35px 0px;
    line-height: 36px;
}

.container3 button {
    color: #dcdad7;
    background-color: #682F90;
    padding: 32px;
    font-family: arvo;
    font-size: 34px;
    border-radius: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
}

.journey {
    max-width: 80%;
    display: flex;
    justify-content: center;
}

/*-------------------------------------------------*/

.heading1 {
    align-self: center;
    text-align: center;
    padding: 30px 30px 15px;
    font-family: arvo;
    font-size: 30px;
    color: #F04B00;
}

.container4 {
    
    width: 100%;
    background-image: url(images/background1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1000px
}

.imageContainer {
    padding: 15px 0px 0px;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 30px;
    
}

.shape {
    width: 100%;
    
}

.textImg {
    position: absolute;
    text-align: center;
    max-width: 100%;
    padding: 50px 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 28px;
    font-family: roboto;
    line-height: 33px;
    color: #DCDAD7;
}

.fullyRaw {
    max-width: 350px;
}

.contact {
    width: 100%;
    max-width: 1150px;
    display: flex;
    flex-direction: column;
}

.connect {
    border-top: 3px solid #DCDAD7;
    border-bottom: 3px solid #DCDAD7;
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    font-family: arvo;
    color: #DCDAD7;
    font-size: 34px;
    letter-spacing: 16px;
}

.contact img {
    max-width: 32px;
}

.socials {
    padding: 35px 0px 85px 0px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

/*-----------------------------------------------*/



.upperFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px 0px 35px 0px;
    background-color: #1ABA9B;
    text-align: center;
}

.heading2 {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.heading2 h3 {
    font-size: 28px;
    color: #DCDAD7;
    font-family: arvo;
    font-weight: 400;
}

.heading2 p {
    font-family: quattrocento sans;
    color: #DCDAD7;
    font-size: 24px;
    font-weight: 700;
}

.upperFooter form {
    display: flex;
    justify-content: center;
    gap: 3px;
    width: 100%;
    max-width: min(1120px, 90%);
}



.upperFooter form input[type="text"], .upperFooter form input[type="email"]  {
    max-width: 350px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #00000050;
    color: #575E62;
    font-size: 16px;
}

.upperFooter form input:focus {
    outline: none;
    border: 1px solid #8677f4;
}

::placeholder {
    font-family: quattrocento sans;
    padding: 10px;
}

.upperFooter form input[type="submit"] {
    max-width: 280px;
    width: 100%;
    color: #DCDAD7;
    background-color: #F35700;
    font-family: arvo;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border: none
    
}

/*------------------*/

.bottomFooter {
    padding: 50px 50px 0px;
    display: flex;
    background-color: #8A236C;
}

.leftFooter {
    display: flex;
    gap: 60px;
    padding: 25px 25px 50px 50px;
    border-right: 1px solid #DCDAD7;
    
    max-width: 50%;
    width: 100%;
}

.imagesFooter {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 50%;
}

.buttonsFooter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    width: 100%
}

.buttonsFooter button {
    background-color: transparent;
    border: 2px solid #DCDAD7;
    border-radius: 20px;
    color: #DCDAD7;
    font-size: 15px;
    font-family: quattrocento sans;
    padding: 10px;
    font-weight: 700;
    width: 100%;
    transition: all 0.4s ease;
    
}

.buttonsFooter button:hover {
    background-color: #DCDAD7;
    color: black;
}


.rightFooter {
    padding: 15px 25px 50px;
    max-width: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.upperRight, .bottomRight {
    font-size: 32px;
    font-family: arvo;
    color: #DCDAD7;
    text-shadow: 0 0 3px #DCDAD7;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px
}

.rightFooter button {
    font-size: 16px;
    font-family: quattrocento sans;
    color: #DCDAD7;
    border: 1px solid #DCDAD7;
    border-radius: 20px;
    padding: 15px 35px;
    background-color: transparent;
    transition: all 0.4s ease;
}

.rightFooter button:hover {
    background-color: #DCDAD7;
    color: black;
}

.socialsFooter {
    display: flex;
    gap: 3px;
    margin-top: 15px;
}

.socialsFooter div {
    width: 36px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DCDAD7;
    border-radius: 50%;
}

.socialsFooter a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialsFooter div img {
    max-width: 60%;
}

.footerFooter {
    background-color: #8A236C;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 40px
}

.outerFooter {
    display: flex;
    align-items: center;
}

.media {
    padding: 0px 5px;
    font-size: 14px;
    color: #B8B4AE;
    font-family: quattrocento sans;
}

.outerFooter div {
    display: flex;
}

.outerFooter div a {
    padding: 0px 5px 0px 10px;
    font-size: 14px;
    color: #DCDAD7;
    font-family: quattrocento sans;
    border-left: 2px solid #DCDAD7;
    text-decoration: none;
}

@media (max-width: 768px) {
    .nav2 {
        height: 50px;
        width: 50px;
        margin: 0px 15px 0px 0px;
        justify-self: end;
        display: grid;
        place-content: center;
        
    }

    .container1 {
        flex-direction: column;
        align-items: center;
    }

    .container2 .images2 {
        flex-direction: column;
        gap: 0;
    }

    .images2 img {
        width: 100%;
    }

    .images2-1 {

        flex-direction: column;
    }

    .listDiv {
        flex-direction: column;
    }

    .listDiv ul, .listDiv div a {
        margin-left: 0px;
    }

    


    .container3 .journey button {
        width: 100% !important;
    }

    .container3 .journey {
        max-width: 90% !important;
    }

    .connect {
        font-size: 20px;
    }

    .socials {
        padding: 35px 0px;
        max-width: 90%;
        align-self: center;
        gap: 35px
    }

    .socials img {
        max-width: 24px;
    }

    .upperFooter form {
        flex-direction: column;
        align-items: center;
        gap: 1px;
    }

    input {
        width: 100%;
        max-width: 95% !important;
    }

    .bottomFooter {
        flex-direction: column;
    }

    .leftFooter, .rightFooter {
        max-width: none
    }

    .leftFooter {
        flex-direction: column;
        border-right: 0;
        border-bottom: 1px solid #DCDAD7;
        padding: 15px;
        align-items: center;
    }

    .imagesFooter {
        flex-direction: row;
        justify-content: center;
        max-width: 100%;
    }
    
    .imagesFooter img {
        max-width: 50%;
    }

    .bottomFooter {
        flex-direction: column;
        padding: 100px 50px 0px
    }

    .leftFooter, .rightFooter {
        max-width: none;
        height: 100%;
    }

    .leftFooter {
        flex-direction: column;
        border-right: 0;
        border-bottom: 1px solid #DCDAD7;
        padding: 15px 15px 30px;
        align-items: center;
    }

    .imagesFooter {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        gap: 0px
    }
    
    .imagesFooter img {
        max-width: 50%;
        height: auto;
    }

    header::before {
        height: 50px;
        background-color: rgba(0, 0, 0, 0.5);

        
    }

    header.top::before {
        height: 100px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    header.fade::before {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .logo img.top {
        height: 100px
    }

    nav {
        display: none;
    }
}

@media (max-width: 1025px) {
    .listDiv {
        flex-direction: column;
        max-width: min(925px, 75%)
    }

    .listDiv div {
        padding: 40px 30px 50px;
        gap: 30px
    }

    .container3 .journey {
        max-width: 40%;
    }

    
    

}

@media (max-width: 645px) {
    .imagesFooter {
        flex-direction: column;
        gap: 35px
    }

    .imagesFooter img {
        max-width: 100%;

    }

    .leftFooter {
        gap: 35px;
    }

}

/*--------------------*/
@media (max-width: 1500px) {
    .imageContainer {
        max-width: 70%;
    }

    .imageContainer .textImg {
        font-size: 25px;
    }
}

@media (max-width: 1300px) {
    .imageContainer {
        max-width: 80%;
    }

    .imageContainer .textImg {
        font-size: 28px;
        line-height: 37px;
    }
}

@media (max-width: 1180px) {
    .imageContainer {
        max-width: 90%;
    }

    .imageContainer .textImg {
        font-size: 25px;
        line-height: 40px;
    }
}




@media (max-width: 1075px) {
    .imageContainer {
        width: 100%;
        max-width: none;
    }

    .imageContainer .textImg {
        font-size: 24px;
        line-height: 40px;
        width: 100%;
        max-width: none;
        
    }
}

@media (max-width: 950px) {
    .imageContainer {
        width: 130%;
    }

    .imageContainer .textImg {
        font-size: 24px;
        line-height: 40px;
        width: 80%;
        
    }
}

@media (max-width: 815px) {
    .imageContainer {
        width: 160%;
    }

    .imageContainer .textImg {
        font-size: 24px;
        line-height: 40px;
        width: 65%;
        
    }
}

@media (max-width: 735px) {
    .imageContainer {
        width: 180%;
    }

    .imageContainer .textImg {
        font-size: 24px;
        line-height: 40px;
        width: 60%;
        
    }
}

@media (max-width: 645px) {
    .imageContainer {
        width: 220%;
    }

    .imageContainer .textImg {
        font-size: 23px;
        line-height: 40px;
        width: 50%;
        
    }
}

@media (max-width: 580px) {
    .imageContainer {
        width: 260%;
    }

    .imageContainer .textImg {
        font-size: 21px;
        line-height: 40px;
        width: 45%;
        
    }
}

@media (max-width: 485px) {
    .imageContainer {
        width: 300%;
    }

    .imageContainer .textImg {
        font-size: 21px;
        line-height: 34px;
        width: 38%;
        
    }
}

@media (max-width: 425px) {
    .imageContainer {
        width: 340%;
    }

    .imageContainer .textImg {
        font-size: 20px;
        line-height: 30px;
        width: 35%;
        
    }
}

@media (max-width: 370px) {
    .imageContainer {
        width: 500%;
    }

    .imageContainer .textImg {
        font-size: 20px;
        line-height: 30px;
        width: 22%;
        
    }
}

@media (max-width: 345px) {


    .imageContainer .textImg {
        width: 25%;
        
    }
}





















