@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    background-color: #DCDAD7;
    font-family: quattrocento sans;
    
}

header {
    width: 100%;
    display: flex;
    
    position: fixed;
    justify-content: end;
    overflow: visible;
    background-color: #f355006a;
    font-family: josefin sans;
    
}

.logo {
    position: absolute;
    left: 0;
    top: 0;

}

.logo img {
    height: 100px
}

nav {
    display: flex;
    gap: 35px;
    font-size: 12px;
    
}

nav a {
    text-decoration: none;
    line-height: 90px;
    color: rgba(255, 255, 255, 0.89);
    font-weight: 700;
}


/* Header End
------------------------------------------------------*/

.bg1 {
    background-image: url(images/background.png);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}


.splitter {
    background-color: #E31156;
    display: flex;
    justify-content: center;
    padding: 15px

}

.splitterB {
    font-family: arvo;
    font-size: 34px;
    color: #DCDAD7;
    background-color: #E31156;
    border: 1px solid #DCDAD7;
    border-radius: 10px;
    padding: 15px 30px;

}

.splitterB:hover {
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

/* Splitter end
------------------------------------------------------*/



.container1 {
    display: flex;
    justify-content: center;
    max-width: 1150px;
    align-self: center;

}

.left1 {
    display: flex;
    flex-direction: column;

}


