div {
    width: 300px;
    height: 300px;
    margin: 150px;
    background-color: cadetblue;
    border: 1px solid black;
    text-align: center;
    font-size: 2em;
    font-family: cursive;
    transition: 2s;
    
}

div:hover {
    transform: rotate(90deg)
    translate(200px)
    scale(2)
    skew(50deg)
}










