p {
    font-family: cursive; /*font-family თვისება განსაზღვრავს ტექსტის შრიფტს.*/
    font-style: italic; /*font-style თვისება განსაზღვრავს ტექსტის სტილს. ეს თვისება გამოიყენება ძირითადად იმისათვის, რომ შრიფტი იყოს დახრილი(italic) ან ჩვეულებრივ.*/
    font-size: 2em; /*font-size თვისება განსაზღვრავს ტექსტის ზომას. 1em = 16px.*/
    font-weight: 400px; /*font-weight თვისება განსაზღვრავს ტექსტის სისქეს. 100 - ძაან წვრილი, 400 - ნორმალური, 700 - bold, 900 - ძალიან სქელი.*/
    color: gray; /*color თვისება განსაზღვრავს ტექსტის ფერს.*/
}