.footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px

}

.footer-heading {
    color: white;
    font-size: 18px;
    font-weight: 300;
}

.footer-desc {
    font-size: 14px;
    color: #32CD32
}

.footer-contacts {
    display: flex;
    gap: 10px
}

.footer a img {
    max-width: 30px;
}

.footer-logo {
    max-width: 200px;
}



