.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
}

.header p {
    color: white;
}

.logo {
    font-size: 60px;
    letter-spacing: 15px;
}

.header span {
    color: #32CD32
}

nav {
    display: flex;
    border-radius: 25px;
    background-color: black;
    padding: 20px 10px;
}

nav a {
    padding: 0px 25px;
    border-right: 1px solid white;
    text-decoration: none;
}

nav a p {
    transition: 0.3s all ease;

}

nav a:hover  p{
    color: #32CD32
}

nav :last-child {
    border-right: none;
}

.header button {
    border: none;
    background-color: #00BFA6;
    padding: 15px 25px;
    border-radius: 20px;
    color: #F2F2F2;
    font-size: 20px;
    cursor: pointer;
    font-weight: 300;
    transition: 0.3s all ease;
}

.header button:hover {
    background-color: #00bfa689;
}





