p {
    text-shadow: 10 20 10 blue;
    
}

/*text-shadow ქმნის ჩრდილებს. პირველში იწერება ჩრდილის გაწევა ჰორიზონტალურად, მეორეში ვერტიკალურად, მესამეში ჩრდილისის ბინდის სიძლიერე და მეოთხეში ჩრდილის ფერი*/

p {
    text-align: left;
    
}

/*text-align განსაზღვრავს ტექსტის პოზიციას. მარცხნივ, შუაში, მარჯვნივ.*/
p {
    line-height: 1;
    
}

/*line-height განსაზღვრავს დაშორებას ტექსტების სტრიქონებს შორის*/

p {
    letter-spacing: 1px;
   
}

/*letter-spacing განსასღვრავს დაშორებას ასოებს შორის*/
