@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Neutral900: hsl(243, 96%, 9%);
  --Neutral800: hsl(243, 27%, 20%);
  --Neutral700: hsl(243, 23%, 24%);
  --Neutral600: hsl(243, 23%, 30%);
  --Neutral300: hsl(240, 6%, 70%);
  --Neutral200: hsl(250, 6%, 84%);
  --Neutral0: hsl(0, 0%, 100%);


  --Orange500: hsl(28, 100%, 52%);
  --Blue500: hsl(233, 67%, 56%);
  --Blue700: hsl(248, 70%, 36%);
}

.neutral900 {
  background-color: var(--Neutral900) !important;
}

.neutral800 {
  background-color: var(--Neutral800) !important;
}

.neutral700 {
  background-color: var(--Neutral700) !important;
}

.neutral600 {
  background-color: var(--Neutral600) !important;
}

.textNeutral300 {
  color: var(--Neutral300) !important;
}

.textNeutral200 {
  color: var(--Neutral200) !important;
}

.bgBlue500 {
  background-color: var(--Blue500) !important;
}

.bgBlue500:focus {
  outline: 2px solid var(--Blue500);
  outline-offset: 2px;
}

.hoverNeutral700:hover {
  background-color: var(--Neutral700) !important;
}

.hoverBgBlue700:hover {
  background-color: var(--Blue700) !important;
}

.hoverNeutral700:focus {
  outline: 2px solid white;
  outline-offset: 2px;
}

.rightContainerHead div:hover {
  background-color: hsla(243, 23%, 30%, 0.7) !important;
}






body {
  background-color: var(--Neutral900);
}

* {
  font-family: DM Sans;
}

.bricolageGrotesque {
  font-family: bricolage grotesque;
}
