a {
    font-family: cursive;
    color: rgb(188, 116, 116);
    text-decoration: none

}

a:link {
    color: green
}


a:visited {
    color: lime;
}

a:active {
    color:cadetblue;
    text-decoration: line-through;
    letter-spacing: 20px;
}

div {
    width:300px;
    height:300px;
    background-color: cadetblue;
    color: white;
    font-family: cursive;
    text-align: center;

    transition: 0.5s
}

div:hover {
    font-size: 50px;
    border: 10px solid black;
    background-color: chocolate;
}