#main {
    border: 3px solid black;
    width:550px;
    height:750px;
    border-radius: 10px;
    
    
}

#title {
    justify-content: center;
    display: flex;

}

.flex {
    display: flex;
    justify-content: center;
}

.box {
    border: 3px solid red;
    border-radius: 10px;
    width: 150px;
    height:200px;
    
}
    
.top_text {
    display: flex;
    justify-content: center;

}

.bottom_text {
    display: flex;
    justify-content: center;

}









   
    
    


.grid {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px
}

#ukraine {
    background-image: url(https://img.freepik.com/premium-vector/ukraine-flag-vector_671352-200.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;


}

#emirates {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Flag_of_the_United_Arab_Emirates.svg/800px-Flag_of_the_United_Arab_Emirates.svg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

#uk {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Flag_of_the_United_Kingdom_%281-2%29.svg/1200px-Flag_of_the_United_Kingdom_%281-2%29.svg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;


}
#usa {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Flag_of_the_United_States_%28Pantone%29.svg/2560px-Flag_of_the_United_States_%28Pantone%29.svg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

#uruguay {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpa2WUFbcL5iwqA3sAHqkNKTlNuWs2bAuKPg&s);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

#uzbekistan {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Flag_of_Uzbekistan.svg/1200px-Flag_of_Uzbekistan.svg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

#vanuatu {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/bc/Flag_of_Vanuatu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

#venezuela {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/Flag_of_Venezuela.svg/640px-Flag_of_Venezuela.svg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

#belgium {
    background-image: url(https://www.theflagshop.co.uk/media/catalog/product/cache/1aa45e34d8351bef7860daeb50e7952c/b/e/belgium--flag-8x5.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}



    
    
   





