* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div {
    background-color: rgb(20, 96, 20);
    color: white;
    margin: 100px;
    font-family: cursive;
    
    font-weight: 700;
    text-align: center;
    width: 100px;
    height: 50px;
    border-radius: 10px;

    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
    



}

@keyframes move {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(30deg);
        background-color: cadetblue;
    }

    50% {
        transform:
        translateX(600px)
        rotate(0deg);
        background-color: rgb(130, 240, 244);
    }

    100% {
        transform:
        translateX(0px)
        rotate(-360deg)
    }
}