.container {
    display: flex;
    border-radius: 5px;
    max-width: 840px;
    overflow: hidden;
}

.container img {
    max-width: 60px;
}

.container h2 {
    font-size: 32px;
}

.container p {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

.container button {
    justify-self: flex-end;
    border: none;
    outline: none;
    border-radius: 25px;
    text-align: center;
    padding: 10px 25px;
    font-family: inherit;
    margin-top: 45px;
}

.column1, .column2, .column3 {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 40px;
    gap: 25px;
}

@media (max-width: 850px) {
    .container {
        flex-direction: column;
        max-width: 80%;
    }

    .container button {
        margin-top: 0;
    }
} 

